@charset "utf-8";

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: rgb(3,155,229);
}

#menu > li > ul {
    display: none;
    z-index: 200;
    position: absolute;
    height: auto;
    background: rgb(3,155,229,0.8);
    width: 20%;
    margin-top: 0;
    padding: 0;
    border: 0;
}

#menu > li:hover > ul {
    display: block;
}

#menu > li:hover > ul > li > a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 2px;
}

#menu > li:hover > ul > li:hover {
    background: rgb(3,155,229);
    font-weight: bolder;
}

#account {
    float: right;
    margin-top: 15px;
    height: 100%;
}

nav > div.wrap{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

#menu{
    margin: 0 auto ;
    height: 100%;
    text-align: center;
}

#menu > li{
    display: inline-block;
    margin: 0 10px;
    line-height: 65px;
    width: 20%;
}


#container {
    width: 1180px;
    margin: 100px auto auto auto;
    box-sizing: border-box;

}

#container.firstpage{
    position: relative;
}

#container > div.leftside {
    position: absolute;
    top: 0;
    width: 13.5%;
    height: 300px;
}

#container > div.leftside > div.profile{
    margin-bottom: 5px;
    border: 1px solid rgb(3,155,229);
    background-color: rgb(3,155,229, 0.226);
}

aside{
    float: left;
    width: 250px;
}

aside > div.title {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(3,155,229);
    background-color: rgba(3,155,229, 0.226);
}

#container > div.wrap{
    float: right;
    width: 910px;
}

aside > div.menu {
    border: 1px solid rgb(3,155,229, 0.226);
    background-color: white;
}

#container > aside > div.menu > ol > li.active > a {
    background-color: rgb(3,155,229, 0.226);
    color: rgb(3,155,229);
    font-weight: bold;

}

aside > div.menu > ol > li > a{
    display: block;
    padding: 25px;
    height: 50px;
    cursor:  pointer;
    font-size: 15px;
    height: 20px;
    color: black;
}



#logo > a {
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-top: 10px;
}

#logo > a > img{
    width: 100%;
    height: 100%;
}

#logo > p {
    float: left;
}

#logo > p > a > span.namepage {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 7px;
}

#account > li {
    float: left;
    padding-top: 10px;
}

#account > a.button.white {
    background-color: white;
    color: rgb(3,155,229);
    font-weight: bold;
}

#account > a.button {
    border: 1px solid rgb(3,155,229);
    font-size: 20px;
    border-radius: 0.3em;
    display: block;
    padding: 5px 10px;
}

#menu > li > a:hover,
#menu > li.active > a{
    font-weight: bold;
}

#menu > li > a {
    font-size: 30px;
    color: rgb(247, 247, 247);
    font-weight: lighter;
}

#menu > li > img {
    width: 30px;
    height: 30px;
    margin-bottom: 19px;
    margin-right: 5px;
}

#container div.profile > form.logged {
    padding: 15px;
}

#container div.profile > form.logged > img.picture{
    display: block;
    margin: 15px auto;
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 2em;
    padding: 5px 5px;
}

.userid, .username {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    color: rgb(3,155,229);
}

#container div.profile > form.logged > div.button {
    margin-top: 15px;
    display: block;
    border: 1px solid white;
    border-radius: 0.3em;
    background-color: white;
    text-align: center;
}

#container div.profile > form.logged > div.button > a{
    font-size: 15px;
    color: rgb(3,155,229);
    font-weight: bold;

}

aside > div.title > h1 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#container > div.setting > form {
    border: 1px solid rgb(3,155,229);
    background-color: white;
}

#container > div.setting > form > h2 {
    padding: 30px;
    color: rgb(3,155,229);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(3,155,229, 0.226);
}
