@charset "utf-8";

@media only screen and (min-width: 650px){
    #container > div.setting > form p label {
        width: 110px;
        margin-right: 10px;
    }

    #container > div.setting > from p {
        margin-bottom: 10px;
    }
}

#container > div.setting > form p {
    border: 1px solid none;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 30px;
    border-top: 1px solid rgb(3,155,229, 0.226);

}

#container > div.setting > form p label {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    float: left;
    line-height: 20px;
    
    
}

#container > div.setting > form > h2 {
    padding: 23px;
    color: rgb(3,155,229);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(3,155,229, 0.226);
}

#container > div.setting > form p input.text{
    width: 200px;
    border: 0;
    border-bottom: 1px solid rgb(3,155,229, 0.226);
    font-size: 13px;
}

#container > div.setting > form p.submit {
    text-align: right;
}


.caption {
    color: red;
    font-size: 13px;
}

#container > div.setting > form p.submit input{
    margin-top: 20px;
    padding:  0 10px;
    height: 30px;
    color: white;
    background-color: rgb(3,155,229);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    border-radius: 0.5em;
}
