@charset "utf-8";

#container {
    margin-top: 70px;
    position: relative;
    min-height: 100%;
}

#content_subtext * {
    list-style: none;
}

.content_main{
    width: 100%;
    margin: 0;
    background-color: white;
    padding: 10px 20px 20px 20px;
    padding-bottom: 20px;
    height: 100%;
}

div.content_title {
    border-bottom: 2px solid #d6d6d6;
}

h3 {
    font-size: 20px;
    color: #4e4e4e;
    padding: 15px;
}

div.content_subtext {
    margin-top: 10px;
}

table{
    border: 0;
    width: 100%;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 6px;
    padding-bottom: 6px;
}

table tr {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    border-width: 90%;
}
table th {
    border: 0;
    width: 10%;
    height: 40px;
    font-size: 14px;
    background-color: #eeeeee;
    padding: 2px;
}

table td {
    border: 0;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.date {
    width: 15%;
}

.textviewer{
    width: 65%;
}

table input.writeTitle , textarea {
    margin-left: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 0.2em;
    width: 98%;
    padding: 6px 5px;
}

table input.noticeType {
    margin-left: 10px;
}

table > tr > td > input.radio {
    font-size: 10px;
    padding: 5px;
}

table textarea {
    resize: vertical;
    height: 300px;
}

.Btn {
    padding: 5px;
    margin-top: 20px;
    text-align: right;
}


.content_main > div.content_subtext > div.Btn > span > button, #saveBtn, #cancelBtn {
    font-size: 15px;
    padding: 5px 20px;
    font-weight: bolder;
    margin-right: 10px;
    background-color: rgb(27, 64, 99);
    color: white;
    border-radius: 0.3em;
    border: 0;
}

.uproadfile, .targetselect{
    margin-left: 5px;
}

table > tbody > tr > td > input.button {
    font-size: 12px;
    padding: 5px;
    margin-left: 5px;
    border: 0;
}
