@charset "uft-8";

body{
    background-color: rgb(255,255,255);
}

#container {
	top: 40%;
	margin-top: -170px;
}

#container p.input {
    margin-top: -10px;
	margin-bottom: 20px;
	padding:  5px 10px;
	border: 1.5px solid rgb(3,155,229);
    background-color: white;
    height: 20px;
}

#container p input.text {
	border: 0;
	width: 100%;
	line-height: 20px;
	color: black;
    background-color: transparent;
    outline: none;
}

img, input, select, textarea{
	vertical-align: middle;
}

#container p.submit {
    float: left;
    background-color: rgb(3,155,229);
    width: 300px;
    border-radius: 0.3em;
    margin-top: -8px;
}

#container p.submit input.text{
    width: 300px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    border-radius: 0.3em;
    border: 0;
}

#container label.autologin{
    padding-top: 10px;
    display: inline-block;
    height: 20px;
    color: #a59090;
    font-size: 15px;
}

#container p.register {
    padding-top: 20px;
}

#container p.resister span {
    float: right;
    color: black;
    font-size: 16px;
}

#container p.register a{
    color: rgb(3,155,229);
    font-weight: bold;
    float: right;
}

#container p.find {
    padding-top: 15px;
}

#container p.find span {
    float: right;
    color: black;
    font-size: 16px;
}

#container p.find a{
    color: rgb(3,155,229);
    font-weight: bold;
    float: right;
}
