@charset "utf-8";

.section_left{
    position: relative;
    height: 100%;
    float: left;
}

#container {
    height: 620px;
    margin-top: 30px;
    width: 1180px;
    box-sizing: border-box;
    left: 0;
    right: 0;
}

#sub {
    width: 250px;
}

.section_left_header{
    height: 70px;
}

.section_left_header > ul > li > a> img{
    width: 40px;
    height: 40px;
    opacity: 0.6;
}

.section_left_header > ul > li.active > a> img{
    opacity: 1;
}

.section_left_header > ul > li {
    float: left;
    position: relative;
    padding: 15px 40px;
    border: 1px solid none;
    background-color: rgb(3, 155, 299);

}

.section_left_header > ul > li > a {
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.search_area {
    width: 100.5%;
    background-color: rgb(3, 155, 299, 0.226);
    border: 1px solid none;
}

.search_area > input {
    width: 94%;
    font-size: 15px;
    border: 0;
    padding: 5px;
    background: transparent url("images/search.png") no-repeat left center;
    background-size: 10px;

}

.section_left > ul {
    height: 20px;
}

.section_left_bottom {
    background-color: white;
    height: 550px;
    width: 99%;
    border: 1px solid rgb(3, 155, 299, 0.226);
}

.section_left_bottom > ul > li {
    font-size: 15px;
    padding: 18.7px;
    background-color: white;
    font-weight: bolder;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.section_left_bottom > ul > li > ul {
    display: none;
    font-size: 20px;
}

.section_left_bottom > ul > li:hover > ul {
    display: block;
    padding-bottom: 5px 0 5px 0;
}

.section_left_bottom > ul > li > ul > li {
    font-size: 14px;
    padding-top: 20px;
    font-weight: bolder;
}

#content_main {
    height: 100%;
    float: right;
    width: 79%;
    background-color: white;
}

.chatting_empty {
    height: 100%;
    text-align: center;
}

.chatting_empty .chatting_bg_default {
    background: transparent url("http://tkdl2401.cafe24.com/html/css/images/chatting_3.png") no-repeat center;
    width: 280px;
    height: 280px;
    display: inline-block;
    margin-top: 100px;
}

.chatting_empty > h3 {
    font-size: 30px;
}

.chatting_empty > p {
    font-size: 20px;
    bottom: 0;
}
