@charset "utf-8";

#container > div.leftside > .menus > .mymenus {
    width: 150px;
    height: 30px;
    width: 100%;
    border: 1px solid #d6d6d6;
    font-size: 18px;
    padding: 5px;
    float: left;
}

#container > div.leftside > .menus > .mymenus > a {
    color: black;
    float: left;
    font-size: 18px;
}

#container > div.wrap {
    width: 85%;
}

#container > div.leftside div.menus {
    margin-top: 7px;
    border: 1px solid #d6d6d6;
    border-radius: 1em;
    background-color: white;
}

#container > div.leftside> div.menus > div.linkbanner > a {
    color: rgb(3,155,229);
    font-weight: bolder;
    font-size: 15px;
    font-style: "HY나무B";

}
#container > div.leftside> div.menus > div.linkbanner > a > img {
    padding-bottom: 1px;
}


#container > div.wrap > h1 {
    border: 1px solid #d6d6d6;
    background-color: white;
    color: rgb(3, 155, 229);
    font-size: 20px;
    padding: 15px 10px;
    font-weight: bolder;
    margin-bottom: 7px;
}

#container > div.wrap > form {
    padding: 5px;
    border: 2px solid #d6d6d6;
    background-color: #f9f9f9;
    margin-bottom: 7px;
    text-align: center;
}

#container > div.wrap > form > select {
    padding: 4px;
    margin-left: 5px;
    width: 80px;
}

#container > div.wrap > form > input.text {
    border: 1px solid #d6d6d6;
    width: 30%;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 5px;
    /*background: transparent url(images/search.png) no-repeat right center;
    background-size: 20px 20px;*/
    cursor: text;
}

#container > div.wrap > form > input.searchNotice {
    font-size: 15px;
    padding: 4px 6px;
    font-weight: bolder;
    margin-left: 5px;
    background-color: #d6d6d6;
    border-radius: 0.3em;
    border: 0;
}

.button{
    font-size: 15px;
    padding: 4px 6px;
    margin-left: 5px;
    background-color:#d6d6d6;
    border-radius: 0.1em;
    color: black;
    border: 0;
    font-weight: bold;
}

#container > div.wrap > form > button.createNotice {
    font-size: 15px;
    padding: 4px 6px;
    margin-left: 5px;
    background-color:rgb(3,155,229);
    border-radius: 0.1em;
    color: white;
    border: 0;
    font-weight: bold;
    float: right;
}



#container > div.wrap > div.noticecontent {
    border-bottom: 3px solid #d6d6d6;
    min-height: 356px;
}

#container > div.wrap > div.noticecontent > table {
    border: 0;
    width: 100.1%;
    text-align: center;
}

#container > div.wrap > div.noticecontent > table > thead {
    border: 0;
    border-radius: 0.2em;
    background-color: #d6d6d6;
    font-size: 15px;
}

#container > div.wrap > div.noticecontent > table > thead > tr> td {
    font-size: 15px;
    padding: 2px;
    font-weight: bolder;
}

#container > div.wrap > div.noticecontent > table > tbody {
    border-bottom: 1px solid #f9f9f9;
}

#container > div.wrap > div.noticecontent > table > tbody > tr> td {
    height: 30px;
    border: 0;
    font-size: 14px;
    padding: 1px;
}

#container > div.wrap > div.noticecontent > table > tbody > tr:nth-child(even){
    background-color: #f1eeee ;
}

#container > div.wrap > div.noticecontent > table > tbody > tr.hover {
    background-color: rgb(3, 155, 229);
}

div.paging > span > img{
    margin-top: 10px;
    text-align: center;
    border: 1px solid #d6d6d6;
}

tr.first {
    background-color: #cacaca;
}

td > a > span {
    margin-left: 5px;
}
/* 댓글기능 css 여기서부터 10.19 추가*/

#container > div.content_main > div.content_subtext > div.comments article.parent{
    padding: 10px 15px 0 15px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-top: 5px;
}

#container > div.content_main > div.content_subtext > div.comments img.picture.medium {
    width: 20px;
    height: 20px;
    background-color: rgb(3,155,229, 0.226);
    padding: 5px 5px;
    border-radius: 2em;
}

#container > div.content_main > div.content_subtext > div.comments img.picture{
    float: left;
}

#container > div.content_main > div.content_subtext > div.comments h3.medium{
    float: left;
    margin-left: 7px;
    height: 20px;
    line-height: 29px;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

#container > div.content_main > div.content_subtext > div.comments time.medium{
    float: left;
    margin-bottom: 5px;
    height: 20px;
    line-height: 29px;
    font-size: 14px;
    margin-left: 35px;
}

#container > div.content_main > div.content_subtext > div.comments ul.status {
    float: right;
}

#container > div.content_main > div.content_subtext > div.comments ul.status li {
    float: left;
    margin-left: 10px;
    padding-left: 15px;
    height: 15px;
    line-height: 15px;
    color: #cacaca;
    font-size: 13px;
    cursor: pointer;
}

#container > div.content_main > div.content_subtext hr {
    height: 0;
    border: 0;
    clear: both;
}

#container > div.content_main > div.content_subtext p.large {
    padding: 5px 0 8px 5px;
    line-height: 20px;
    color: #4c4c4c;
    font-size: 14px;
}



#container > div.content_main > div.content_subtext > div.comments ul.option{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    font-size: 0;
}

.option > button {
    border: 0;
}

#container > div.content_main > div.content_subtext > div.comments ul.option li {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
    cursor: pointer;
}


#container > div.content_main > div.content_subtext > div.comments form.writecomment {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #d6d6d6;
    margin-top: 5px;
}

#container > div.content_main > div.content_subtext > div.comments input.text{
    margin: 0;
    padding: 10px 85px 10px 10px;
    border: 0;
    width: 100%;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 15px;
    background-color: transparent;
}

#container > div.content_main > div.content_subtext > div.comments ul.option li.submit {
    background-color: rgb(3, 155, 229);
    background-image: url(images/write.submit.png);
}


#container > div.content_main > div.content_subtext > div.comments article.child{
    margin: -5px 4px 4px 35px;
    padding: 10px 10px 0 10px;
    border: 1px solid #e3e3e3;
    background-color: #f9f9f9;
}
